In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk import word_tokenize
from nltk.stem.porter import PorterStemmer

/Users/alexandrusolomes/miniconda3/envs/p36/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/alexandrusolomes/miniconda3/envs/p36/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def tokenize(text):
    tokens = word_tokenize(text)
    stems = []
    for item in tokens: 
        stems.append(PorterStemmer().stem(item))
    return stems

In [9]:
text = ["This is your first text book", "This is the third text for analysis", "This is another text"]
# word tokenize and stem
text = [" ".join(tokenize(txt.lower())) for txt in text]

In [10]:
text

['thi is your first text book',
 'thi is the third text for analysi',
 'thi is anoth text']

In [11]:
vectorizer = TfidfVectorizer()
matrix = vectorizer.fit_transform(text).todense()
# transform the matrix to a pandas df
matrix = pd.DataFrame(matrix, columns=vectorizer.get_feature_names())
# sum over each document (axis=0)
top_words = matrix.sum(axis=0).sort_values(ascending=False)

/Users/alexandrusolomes/miniconda3/envs/p36/lib/python3.5/site-packages/sklearn/feature_extraction/text.py:1039: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

In [12]:
top_words

thi        0.969378
text       0.969378
is         0.969378
anoth      0.699030
your       0.497120
first      0.497120
book       0.497120
third      0.445149
the        0.445149
for        0.445149
analysi    0.445149
dtype: float64

In [13]:
matrix

,analysi,anoth,book,first,for,is,text,the,thi,third,your
0,0.000000,0.00000,0.49712,0.49712,0.000000,0.293607,0.293607,0.000000,0.293607,0.000000,0.49712
1,0.445149,0.00000,0.00000,0.00000,0.445149,0.262912,0.262912,0.445149,0.262912,0.445149,0.00000
2,0.000000,0.69903,0.00000,0.00000,0.000000,0.412859,0.412859,0.000000,0.412859,0.000000,0.00000